@page
@model BasicWebApplication.Pages.Books.IndexBookModel
@{
}
<br>
<div>
    <a class="btn-primary btn-sm" href="/Books/CreateBook">Create New Book</a>
</div>
<h1>Books List</h1>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>BookName</th>
            <th>Author</th>
            <th>Publication</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        @foreach(Books book in Model.BookList)
        {
            <tr>
                <td>@book.BookCode</td>
                <td>@book.BookTitle</td>
                <td>@book.Author</td>
                <td>@book.Publication</td>
                <td>@book.Price</td>
                <td>
                    <a class="btn-primary" href="/Books/UpdateBook?BookCode=@book.BookCode">Edit</a>
                </td>
                <td>
                    <a class="alert-danger" href="/Books/ConfirmAndDelete?BookCode=@book.BookCode">Delete</a>
                </td>
            </tr>
        }
    </tbody>  
</table>
<!--

<p>
    //IndexBookModel.str</p> have to use 'at symbol' before executing

-->
