@page
@model BasicWebApplication.Pages.Books.UpdateBookModel
@{
}
<p>
    Update Book Page
</p>

@if (Model.message.Length > 0)
{
    <div id="error">
        <br><div class="alert-warning">

            @Model.message
        </div><br />
        <button type="button" class="btn-close" data-dismiss="alert" onclick="
            document.getElementById('error').remove();
               ">
        </button>
    </div>
}

<form method="post">
    <input type = "hidden" name="Id" value="@Model.books.Id"/>
    <div class="row mb-3">
        <label class="col-sm-2 col-form-label">BOOK TITLE</label>
        <div class="col-sm-4">
            <input type="text" class=" form-control" name="BookName" value="@Model.books.BookName" required />
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-2 col-form-label">CATEGORY</label>
        <div class="col-sm-4">
            <input type="text" class=" form-control" name="Category" value="@Model.books.Category" required />
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-2 col-form-label">AUTHOR</label>
        <div class="col-sm-4">
            <input type="text" class=" form-control" name="Author" value="@Model.books.Author" required />
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-2 col-form-label">PUBLICATION</label>
        <div class="col-sm-4">
            <input type="text" class=" form-control" name="Publication" value="@Model.books.Publication" required />
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-2 col-form-label">Published Date</label>
        <div class="col-sm-4">
            <input type="date" class=" form-control" name="Published_Date" value="@Model.books.Published_Date.ToString("yyyy-MM-dd")" required />
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-2 col-form-label">Book Edition</label>
        <div class="col-sm-4">
            <input type="text" class=" form-control" name="Book_Edition" value="@Model.books.Book_Edition" required />
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-2 col-form-label">Price</label>
        <div class="col-sm-4">
            <input type="number" class=" form-control" name="Price" value="@Model.books.Price" required />
        </div>
    </div>
    <div>
        <button type="submit" class="btn-primary">SUBMIT</button>
    </div>
    <div>
        <a type="submit" class="btn-primary" href="/">Cancel</a>
    </div>
</form>